.toggle-button {
    pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
    margin-bottom: 40px;
}